
  
  .login-wrap {
    max-width: 400px; 
    margin: 0 auto;
    padding: 0 15px; 
  }
  .loginbaground{
    background-color: rgb(236, 239, 240);
  }

  .loginbox{
    background-color: rgb(126, 136, 163);
  }
