<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>imgOne</title>

  <h1 style="background-color: blue;border: ;"> This is the border</h1>
  </head>
  <body>
   


    <span <img sur="picture" this is one part of the images span> </span>
    <img src="pictures/flower.jpg.png" alt="this is the emage" />
    <pre>The    end</pre>
    <h1 style="color: red; border: 1px solid blue">Heading</h1>



  </body>
</html>