.tableclass{
    padding-top: 40px;
}

.comenBground{
  background-color: rgb(126, 136, 163);
}

.image-container {
        display: flex;
        gap: 70px; /* Adjust as needed */
    }
    .slidtext {
        
        animation-duration: 32s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        color: #221668dc;
    }
    
   
    @keyframes slidein {
      0% {
        margin-left: 0%;
      }
      50% {
        margin-left: 800px;
      }
      100% {
        margin-left: 0%;
      }

    } 


    .image-container {
      position: relative;
    }
    
    .singer-image {
      width: 30%;
      height: auto;
    }
    
    .player-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    

.audio-player {
  background-color: #683030; 
}

.audio-player .rhap_progress-container {
  background-color: #555; 
}







/*  */


.song-wrapper {
  display: flex;
  align-items: center;
}

.song-frame {
  border: 2px solid #ccc;
  padding: 5px; 
  margin-right: 10px; 
}

.play-button-frame {
  border: 2px solid #ccc; 
  padding: 5px; 
}


.song-frame img,
.play-button-frame img {
  display: block;
  max-width: 100%;
  height: auto;
}

.play-button-frame img:hover {
  cursor: pointer;
}



.fade-in-text {
  font-size: 24px;
  font-weight: bold;
  color: purple;
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.impressive-text {
  font-size: 36px; 
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(45deg, purple, violet, blue, cyan, green, rgb(32, 32, 14), rgb(24, 18, 8), rgb(28, 12, 70), pink);
  background-size: 200% 200%;
  animation: rainbow 3s linear infinite, slide 2s ease-in-out infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 70%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(-110%); 
  }
}


